h3 {
font-family: Verdana;
color:#3c6077;
}

legend {
color:#3c6077;
font-size:1.1em;
font-weight:700;
}

.bold{
font-weight: bolder;
}

ul.bfsubmenu {
list-style-type:none;
margin-left:0;
padding-top:20px;
padding-left:20px;
}

ul.notopmargin {
padding-top:0px;
}

ul.bfsubmenu li {
color:#3c6077;
font-size:17px;
margin-bottom:10px;
padding-left:20px;
background:url(view/images/bullet-default.gif) no-repeat left top;
font-weight: normal;
}

ul.bfsubmenu li.noerror {
color: green;
background:url(view/images/flag_green.gif) no-repeat left top;
}
ul.bfsubmenu li.error {
color: red;
background:url(view/images/flag_red.gif) no-repeat left top;
}


.new {
padding-right:20px;
background:url(view/images/new.gif) no-repeat right top;
}

ul.bfnostyle {
list-style: none;
}

ul.bfsubmenu a:hover {
color:#BF4E4A;
}

span.bullet-filter {
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
padding-left:20px;
background:url(view/images/bullet-filter.gif) no-repeat left top;
}

span.bullet-plugin  {
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
padding-left:20px;
background:url(view/images/bullet-plugin.gif) no-repeat left top;
}

span.bullet-maintenance  {
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
padding-left:20px;
background:url(view/images/bullet-wrench.gif) no-repeat left top;
}

li.bullet-tag, li.bullet-tagsadd {
list-style: none;
}

span.bullet-tag, li.bullet-tag  {
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
padding-left:20px;
background:url(view/images/bullet-tag_green.gif) no-repeat left top;
}


li.bullet-tagsadd  {
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
padding-left:20px;
background:url(view/images/bullet-tag_blue_add.gif) no-repeat left top;
}

span.title {
color:#3c6077;
font-family:Verdana;
font-size:15px;

}

span.indent, .indent {
padding-left:20px;
}

span.bullet-attach, li.bullet-attach  {
/*
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
*/
padding-left:20px;
background:url(view/images/attach.png) no-repeat left top;
}

span.bullet-attach-add, li.bullet-attach-add  {
padding-left:20px;
background:url(view/images/brick_add.png) no-repeat left top;
}

span.bullet-attach-remove, li.bullet-attach-remove  {
padding-left:20px;
background:url(view/images/brick_delete.png) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-acronym {
background:url(view/images/bullet-acronym.png) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-groups {
background:url(view/images/group.png) no-repeat left;
}
ul.bfsubmenu li.submenuicon-users {
background:url(view/images/user_orange.gif) no-repeat left;
}
ul.bfsubmenu li.submenuicon-secure {
background:url(view/images/bullet-secure.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-download-refresh {
background:url(view/images/bullet-database_refresh.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-blueflame {
background:url(view/images/menulogo.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-attach {
background:url(view/images/attach.png) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-add {
background:url(view/images/bullet-add.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-maintenance {
background:url(view/images/bullet-wrench.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-ordering {
background:url(view/images/related.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-default {
background:url(view/images/menulogo.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-articles, span.bullet-article {
background:url(view/images/page.gif) no-repeat left top;
}

span.exclamation{
background:url(view/images/exclamation.gif) no-repeat left top;
}

span.tick{
background:url(view/images/tick.gif) no-repeat left top;
}

span.cross{
background:url(view/images/cross.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-user, span.bullet-user {
background:url(view/images/user_green.gif) no-repeat left top;
}



ul.bfsubmenu li.submenuicon-config,  span.bullet-config {
background:url(view/images/bullet-cog-edit.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-backup,  span.bullet-backup {
background:url(view/images/bullet-drive_disk.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-tags,  span.bullet-tags {
background:url(view/images/bullet-tag_green.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-tagsadd,  span.bullet-tagsadd, li.bullet-tagsadd {
background:url(view/images/bullet-tag_blue_add.gif) no-repeat left top;
}




ul.bfsubmenu li.submenuicon-comments, span.bullet-comments, span.bullet-comment, bullet-comments  {
background:url(view/images/bullet-comments.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-rss, span.bullet-rss {
background:url(view/images/bullet-rss.gif) no-repeat left top;
}


ul.bfsubmenu li.submenuicon-plugins {
background:url(view/images/bullet-plugin.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-statistics, span.bullet-statistics {
background:url(view/images/bullet-statistics.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-import, span.bullet-import {
background:url(view/images/bullet-database_refresh.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-clear, span.bullet-clear {
background:url(view/images/bullet-page_white_gear.gif) no-repeat left top;
}
ul.bfsubmenu li.submenuicon-sum, span.bullet-sum {
background:url(view/images/bullet-sum.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-action {
background:url(view/images/bullet-action.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-element {
background:url(view/images/bullet-element.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-form {
background:url(view/images/bullet-form.gif) no-repeat left top;
}


ul.bfsubmenu li.submenuicon-addcategory, span.bullet-addcategory {
background:url(view/images/bullet-folder_add.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-deletecategory, span.bullet-deletecategory {
background:url(view/images/bullet-folder_delete.gif) no-repeat left top;
}

span.bullet-deleteuser {
background:url(view/images/user_delete.png) no-repeat left top;
}
span.bullet-adduser {
background:url(view/images/user_add.png) no-repeat left top;
}


ul.bfsubmenu li.submenuicon-layout {
background:url(view/images/bullet-layout.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-delete {
background:url(view/images/bullet-delete.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-info, span.bullet-info, li.bullet-info {
background:url(view/images/bullet-info.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-customise, span.bullet-customise {
background:url(view/images/bullet-layout_edit.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-notes, span.bullet-notes {
background:url(view/images/note.gif) no-repeat left top;
}

.biggerblue {
color:#3c6077;
font-family:Verdana;
font-size:15px;
margin-bottom:10px;
}

ul.bfsubmenu li.submenuicon-preview, ul.bfsubmenu li.submenuicon-previewnopopup {
background:url(view/images/bullet-preview.gif) no-repeat left top;
}


ul.bfsubmenu li.submenuicon-advanced {
background:url(view/images/menulogo.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-categories, span.bullet-category, span.bullet-categories {
background:url(view/images/folder.gif) no-repeat left top;
}

ul.bfsubmenu li.submenuicon-cloud, span.bullet-cloud, span.bullet-cloud {
background:url(view/images/bullet-preview.gif) no-repeat left top;
}

#navcontainer ul {
color:#FFF;
float:left;
font-family:arial, helvetica, sans-serif;
margin-left:0;
padding-left:0;
width:100%;
background:#F7F7F7;
}

#navcontainer ul li {
display:inline;
}

#navcontainer ul li a {
border-right:1px solid #fff;
color:#FFF;
float:left;
text-decoration:none;
padding:0.2em 1em;
background:#036;
}

#navcontainer ul li a:hover {
color:#fff;
background:#369;
}

#content-box .padding {
padding:10px 10px 0;
}

#toogleJoomla {
color:#FFF;
height:12px;
position:absolute;
right:0;
top:0;
width:100px;
padding:2px;
background:red;
}

.red {
color: red;
font-weight: bolder;
}
.green {
color: green;
font-weight: bolder;
}
.blue {
color: #3366AA;
font-weight: bolder;
}
.button1-left .site {
float:left;
background:url(view/images/j_button1_site.png) no-repeat 100% 0;
}

#selectaformdiv {
/*float:left;*/
border:1px solid #ccc;
min-height:300px;
text-align:left;
width:600px;
margin:25px auto 0;
padding:10px;
}

#welcome-tooltip {
float:left;
width:280px;
}

#welcome-formselector {
float:right;
text-align:left;
width:250px;
}

.button1-left .admin {
float:left;
background:url(view/images/j_button1_admin.png) no-repeat 100% 0;
}

#bfCopyright {
border-top:1px solid #ccc;
padding-top:20px;
display:block;
clear:both;
margin-top:50px;
text-align:center;
}

#bfCopyright a {
padding-left:20px;
background:url(view/images/menulogo.gif) no-repeat left top;
}

#tag-message, #loading {
height:400px;
left:50%;
margin-left:-400px;
margin-top:-100px;

position:absolute;
top:50%;
width:800px;
z-index:10000000;
}

#tag-message div, #loading div {
height:100px;
min-height:24px;
width:400px;
opacity: .85;
margin:0 auto;
padding:8px 10px 8px 46px;
}

#tag-message div.notice,#tag-message div.info,#remote-objects-message {
border:1px solid #C2D071;
color:#FFF;
font-size:32px;
font-weight:700;
padding-top:25px;
background:url(view/images/info.gif) no-repeat 6px 3px #A6D785;
}

#tag-message div.error,#tag-message div.warning {
border:1px solid #DC5757;
color:#FFF;
font-size:32px;
font-weight:700;
padding-top:25px;
background:url(view/images/error.png) no-repeat 6px 3px #EF9398;
}

#tag-message div.confirmation,#tag-message div.confirm {
border:1px solid #76C83F;
color:#FFF;
font-size:32px;
font-weight:700;
padding-top:25px;
background:url(view/images/confirm.png) no-repeat 6px 3px #A6D785;
}

#tag-message div.loading, #loading div.loading {
border:1px solid #CCC;
color:#FFF;
font-size:32px;
font-weight:700;
padding-top:25px;
background:#A6D785;
}

div#toolbar-box {

margin-bottom:10px;
/* background-color:#fbfbfb; */
}

div#toolbar-box {
 /* background:#f7f7f7; */
}

div#toolbar-box div.m {
padding:0;
}

div#toolbar-box div.t,div#submenu-box div.t,div#element-box div.section-box div.t {
background:url(view/images/j_border.png) repeat-x;
}

div#toolbar-box div.t div.t,div#submenu-box div.t div.t,div#element-box div.section-box div.t div.t {
background:url(view/images/j_crn_tr_med.png) no-repeat 100% 0;
}

div#toolbar-box div.t div.t div.t,div#submenu-box div.t div.t div.t,div#element-box div.section-box div.t div.t div.t {
background:url(view/images/j_crn_tl_med.png) no-repeat;
}

div#toolbar-box div.b,div#submenu-box div.b,div#element-box div.section-box div.b {
background:url(view/images/j_border.png) repeat-x 0 100%;
}

div#toolbar-box div.b div.b,div#submenu-box div.b div.b,div#element-box div.section-box div.b div.b {
background:url(view/images/j_crn_br_med.png) no-repeat 100% 0;
}

div#toolbar-box div.b div.b div.b,div#submenu-box div.b div.b div.b,div#element-box div.section-box div.b div.b div.b {
background:url(view/images/j_crn_bl_med.png) no-repeat;
}


div.t,div.b {
height:6px;
overflow:hidden;
width:100%;
margin:0;
padding:0;
}

div.m {
border-left:1px solid #ccc;
border-right:1px solid #ccc;
padding:0 8px;
}

.tool-tip {
	border:1px solid #D4D5AA;
	float:left;
	max-width:200px;
	padding:5px;
	margin-left: 10px;
	background:#ffc;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	padding: 8px 8px 4px;
	margin:-15px 0 0;
padding:15px 0 5px;
	background:url(view/images/selector-arrow.png) no-repeat;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
}

div.header {
color:#3c6077;
color:#9F9F9F;
font-size:22px;
font-weight:700;
line-height:48px;
margin-left:10px;
padding-left:55px;
}

div.header span {
color:#666;
}

div.bftoolbar {
float:right;
text-align:right;
padding:0;
}

table.bftoolbar {
border-collapse:collapse;
margin:0;
padding:0;
}

table.bftoolbar td {
color:#666;
height:48px;
text-align:center;
padding:1px 1px 1px 4px;
}

table.bftoolbar td.spacer {
width:10px;
}

table.bftoolbar td.divider {
border-right:1px solid #eee;
width:5px;
}

table.bftoolbar span {
display:block;
float:none;
height:32px;
width:32px;
margin:0 auto;
}

table.bftoolbar a {
border:1px solid #fbfbfb;
cursor:pointer;
display:block;
float:left;
white-space:nowrap;
padding:1px 5px;
}

table.bftoolbar a:hover {
border-bottom:1px solid #ccc;
border-left:1px solid #eee;
border-right:1px solid #ccc;
border-top:1px solid #eee;
color:#3c6077;
text-decoration:none;
}

.icon-48-bflogo {
background:url(view/images/logo.gif) no-repeat;
}

.secure {
background:url(view/images/padlock.jpg) no-repeat;
}

.icon-32-send {
background:url(view/images/toolbar/icon-32-send.png);
}

.icon-32-help {
background:url(view/images/icon-32-help.png);
}

.icon-32-config {
background:url(view/images/toolbar/icon-32-config.png);
}

.icon-32-apply {
background:url(view/images/toolbar/icon-32-apply.png);
}

.icon-32-back {
background:url(view/images/toolbar/icon-32-back.png);
}

.icon-32-forward {
background:url(view/images/toolbar/icon-32-forward.png);
}

.icon-32-save {
background:url(view/images/toolbar/icon-32-save.png);
}

.icon-32-edit {
background:url(view/images/toolbar/icon-32-edit.png);
}

.icon-32-copy {
background:url(view/images/toolbar/icon-32-copy.png);
}

.icon-32-move {
background:url(view/images/toolbar/icon-32-move.png);
}

.icon-32-new {
background:url(view/images/toolbar/icon-32-new.png);
}

.icon-32-upload {
background:url(view/images/toolbar/icon-32-upload.png);
}

.icon-32-html {
background:url(view/images/toolbar/icon-32-html.png);
}

.icon-32-css {
background:url(view/images/toolbar/icon-32-css.png);
}

.icon-32-unpublish {
background:url(view/images/toolbar/icon-32-unpublish.png);
}

.icon-32-restore {
background:url(view/images/toolbar/icon-32-revert.png);
}

.icon-32-archive {
background:url(view/images/toolbar/icon-32-archive.png);
}

.icon-32-unarchive {
background:url(view/images/toolbar/icon-32-unarchive.png);
}

.icon-32-preview {
background:url(view/images/toolbar/icon-32-preview.png);
}

.icon-32-default {
background:url(view/images/toolbar/icon-32-default.png);
}

input.button {
cursor:hand;
}


div.col1 {
float:left;
width:1%;
}

div.col35 {
float:left;
width:35%;
}

div.col15 {
float:left;
width:15%;
}

div.col-spacer {
float:left;
width:10px;
}

div.col20 {
float:left;
width:20%;
}

div.col50 {
float:left;
width:50%;
}

div.col70 {
float:left;
width:70%;
}

div.col85 {
float:left;
width:85%;
}

div.col90 {
float:left;
width:90%;
}

div.col30 {
float:left;
width:30%;
}

div.col60 {
float:left;
width:60%;
}

div.col40 {
float:left;
width:40%;
}

div#leftmenu {
min-height:200px;
text-align:left;
margin:0 3px 3px;
background:url(view/images/fading_corner.jpg) no-repeat left top;
}

div.leftcorner {
min-height:200px;
text-align:left;
margin:0 3px 3px;
padding-left: 20px;
background:url(view/images/fading_corner.jpg) no-repeat left top;
}

#submenu-box {
margin-bottom:10px;
background:#F6F6F6;
}

#submenu {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

#submenu a.active,#submenu span.nolink.active {
color:#000;
text-decoration:underline;
}

#submenu li a,#submenu span.nolink {
border-right:1px solid #CCC;
color:#3c6077;
cursor:pointer;
display:inline;
font-weight:700;
height:12px;
line-height:12px;
padding:0 15px;
}

#submenu li {
float:left;
margin:0;
padding:0;
}

.clr,.clear,.clearer {
clear:both;
overflow:hidden;
}

img {
border:0 none;
}

.icon-32-delete,.icon-32-trash {
background:url(view/images/toolbar/icon-32-trash.png);
}

.icon-32-assign,.icon-32-publish {
background:url(view/images/toolbar/icon-32-publish.png);
}

.commonButton {
display:inline;
font-family:Verdana;
margin-right:7px;
vertical-align:middle;
}

.commonButton button {
border:0 solid #FFF;
height:21px;
text-align:center;
width:91px;
background:url(view/images/button-new.gif) no-repeat;
}

.commonButton button,.commonButton {
color:#000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
}

.commonButton span {
display:none;
}

a,img,form {
margin:0;
padding:0;
}

table.bfadminlist thead th{
text-align:left;
}

table.bfadminlist th.pagination{
border-bottom:none;
text-align: center;
background:#FFF;
}
table.bfadminlist th {
font-family:Arial,Helvetica,sans-serif;
text-decoration:none;
color:#3c6077;
cursor:pointer;
height:12px;
line-height:16px;
font-size:15px;
background:#F7F7F7;
text-align: left;
}

#bfHeader {

color:#3c6077;
font-size:30px;
font-weight: normal;
}

table.bfadminlist th a:link,table.adminlist th a:visited {
font-family:Arial,Helvetica,sans-serif;
text-decoration:none;
color:#3c6077;
cursor:pointer;
height:12px;
line-height:12px;
font-size:15px;
}

table.bfadminlist tr.row1 {
text-align:left;
background:#F9F9F9;
}

table.bfadminlist tr.row0 {
text-align:left;
background:#FFF;
}

.button1-left,.button1-right,.button2-left,.button2-right,.button1-left div,.button1-right div,.button2-left div,.button2-right div {
float:left;
}

.button1-left {
margin-left:5px;
background:url(view/images/j_button1_left.png) no-repeat;
}

.button1-right {
margin-left:5px;
background:url(view/images/j_button1_right.png) no-repeat 100% 0;
}

.button1-right .prev {
background:url(view/images/j_button1_prev.png) no-repeat;
}

.button1-left .next {
background:url(view/images/j_button1_next.png) no-repeat 100% 0;
}

.button1-left a,.button1-right a {
display:block;
height:26px;
float:left;
line-height:26px;
font-size:12px;
font-weight:700;
color:#333;
cursor:pointer;
}

.button1-left a {
padding:0 30px 0 6px;
}

.button1-right a {
padding:0 6px 0 30px;
}

.button2-left a,.button2-right a,.button2-left span,.button2-right span {
display:block;
height:22px;
float:left;
line-height:22px;
font-size:11px;
color:#333;
cursor:pointer;
}

.button2-left span,.button2-right span {
cursor:default;
color:#999;
}

.button2-left .page a,.button2-right .page a,.button2-left .page span,.button2-right .page span {
padding:0 6px;
}

.page span {
color:#000;
font-weight:700;
}

.button2-left a,.button2-left span {
padding:0 24px 0 6px;
}

.button2-right a,.button2-right span {
padding:0 6px 0 24px;
}

.button2-left {
float:left;
margin-left:5px;
background:url(view/images/j_button2_left.png) no-repeat;
}

.button2-right {
float:left;
margin-left:5px;
background:url(view/images/j_button2_right.png) no-repeat 100% 0;
}

.button2-right .prev {
background:url(view/images/j_button2_prev.png) no-repeat;
}

.button2-right.off .prev {
background:url(view/images/j_button2_prev_off.png) no-repeat;
}

.button2-right .start {
background:url(view/images/j_button2_first.png) no-repeat;
}

.button2-right.off .start {
background:url(view/images/j_button2_first_off.png) no-repeat;
}

.button2-left .page {
background:url(view/images/j_button2_right_cap.png) no-repeat 100% 0;
}

.button2-left .next {
background:url(view/images/j_button2_next.png) no-repeat 100% 0;
}

.button2-left.off .next {
background:url(view/images/j_button2_next_off.png) no-repeat 100% 0;
}

.button2-left .end {
background:url(view/images/j_button2_last.png) no-repeat 100% 0;
}

.button2-left.off .end {
background:url(view/images/j_button2_last_off.png) no-repeat 100% 0;
}

.button2-left .image {
background:url(view/images/j_button2_image.png) no-repeat 100% 0;
}

.button2-left .readmore {
background:url(view/images/j_button2_readmore.png) no-repeat 100% 0;
}

.button2-left .pagebreak {
background:url(view/images/j_button2_pagebreak.png) no-repeat 100% 0;
}

.button2-left .blank {
background:url(view/images/j_button2_blank.png) no-repeat 100% 0;
}

.access-red {
float:left;
padding-left:20px;
background:url(view/images/user_red.gif) no-repeat left;
}

li.submenuicon-user{
padding-left:20px;
background:url(view/images/user_red.gif) no-repeat left;

}
.access-orange {
float:left;
padding-left:20px;
background:url(view/images/user_orange.gif) no-repeat left;
}

.access-green {
float:left;
padding-left:20px;
background:url(view/images/user_green.gif) no-repeat left;
}

input.flatinputbox {
background:#FFFFFF url(view/images/inputbox.png) repeat-x scroll 0%;
border:1px solid #666666;
color:#333333;
font-family:Tahoma,Helvetica,sans-serif;
font-size:11px;
margin-bottom:4px;
padding-left:3px;
padding-right: 8px;
width: 90%;
}

textarea.flatinputbox {
border:1px solid #666666;
color:#333333;
}

.bfinputbox {
border:1px solid #666666;
color:#333333;
font-family:Tahoma,Helvetica,sans-serif;
font-size:11px;
margin-bottom:2px;
padding:3px 8px;
}

h1,table.th {
font-family:Verdana;
font-size:25px;
color:#3c6077;
}

a:link,a:visited,button,ul.bfsubmenu a,ul.bfsubmenu a:visited {
color:#3c6077;
}

select,.flatbutton {
border:1px solid #ccc;
}

.icon-32-cancel,.icon-32-close {
background:url(view/images/toolbar/icon-32-cancel.png);
}
.icon-32-refresh,.icon-32-refresh {
background:url(view/images/toolbar/icon-32-refresh.png);
}
.button1-left a:hover,.button1-right a:hover,.button2-left a:hover,.button2-right a:hover {
text-decoration:none;
color:#3c6077;
}
table.bfadminlist tbody tr.row0:hover td, table.bfadminlist tbody tr.row1:hover td {
background-color:#FFFFDD;
}


/** Table styles **/

table.bfadminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.bfadminlist td,
table.bfadminlist th { padding: 4px; }

table.bfadminlist thead th {

	background: #f0f0f0;
	color: #666;
	/*border-bottom: 1px solid #999;
	border-left: 1px solid #fff;*/
}
table.bfadminlist thead th  span {
	text-align: left;
	}
table.bfadminlist thead a:hover { text-decoration: none; }

table.bfadminlist thead th img { vertical-align: middle; }

table.bfadminlist tbody th { font-weight: bold; }

table.bfadminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.bfadminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

table.bfadminlist tbody tr.row0:hover td,
table.bfadminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.bfadminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.bfadminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.bfadminlist tfoot tr { text-align: center;  color: #333; }
table.bfadminlist tfoot td,
table.bfadminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.bfadminlist td.order 		{ text-align: center; }
table.bfadminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.bfadminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

/*

Tabs - important styles to ensure accessibility in print

*/
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}
@media print {
    .anchors {
        display: none;
    }
}

/*

Tabs - not important for accessibility, just for the look of it...

*/
.anchors {
    list-style: none;
    margin: 0;
    padding: 0 0 1px;

}
.anchors:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.anchors li {
    float: left;
    margin: 0 1px 0 0;
}
.anchors a {
    display: block;
    position: relative;
    top: 1px;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    z-index: 2;
    padding: 2px 9px 1px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
}
.anchors .tabs-selected a {
    padding-bottom: 2px;
    font-weight: bold;
}
.anchors .tabs-selected a, .anchors a:hover, .anchors a:focus, .anchors a:active,
.fragment {
    background: #eaeaea;
}
.anchors .tabs-selected a:link, .anchors .tabs-selected a:visited,
.anchors .tabs-disabled a:link, .anchors .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.anchors a:hover, .anchors a:focus, .anchors a:active {
    cursor: pointer;
}
.anchors .tabs-disabled {
    opacity: .4;
}
.anchors .tabs-disabled a:hover, .anchors .tabs-disabled a:focus, .anchors .tabs-disabled a:active {
    background: transparent;
}
.fragment {
    padding: 0 10px;
}
.anchors .tabs-selected .tabs-loading {
    padding-left: 25px;
    background-image: url(view/images/loading.gif);
    background-position: 4px 50%;
    background-repeat: no-repeat;
}

.anchors { /* auto clear */
    display: inline-block; /* @ IE 7 */
    _height: 1%; /* @ IE 6 */
}
.anchors a {
    float: left;
}
.anchors .tabs-disabled a {
    filter: alpha(opacity=40);
    zoom: 1; /* trigger filter */
}
.fragment {
    display: none;
}



/* greybox popup */
#GB_overlay {
  background-image: url(view/images/overlay.gif);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width:  100%;
  height: 100%;
}

* html #GB_overlay {
  background-color: #000;
  background-color: transparent;
  background-image: url(view/images/blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="view/images/overlay.gif", sizingMethod="scale");
}

#GB_window {
  top: 10px;
  left: 0px;
  position: absolute;
  background: #fff;
  border: 5px solid #aaa;
  overflow: auto;
  width: 400px;
  height: 400px;
  z-index: 150;
}

#GB_frame {
  border: 0;
  overflow: auto;
  width: 100%;
  height: 378px;
}

#GB_caption {
  font: 12px bold helvetica, verdana, sans-serif;
  color: #fff;
  background: #888;
  padding: 2px 0 2px 5px;
  margin: 0;
  text-align: left;
}

#GB_window img {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  cursor: hand;
}

#help-header {
	padding: 5px;
	background-color: #fffd9b;
	border: 1px solid #ccc;
	color: black;
	display: block;
	min-height: 20px;
}

#help-header span{
	text-align: left;
	font-family: Arial;
	font-size: 16px;
	float:left;
	padding-left:25px;
	background:url(view/images/bullet-info.gif) top no-repeat left;
	min-height: 20px;
	line-height: 20px;
}

.bfborder {
margin-top: 15px;
border:1px solid #ccc;
padding: 5px;
}

.pageNav, span.bfpagenav{
padding-left: 5px;
padding-right: 5px;
}


/* thickbox */
* {
margin:0pt;
padding:0pt;
}
#TB_window {
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
#TB_secondLine {
color:#666666;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
#TB_window a:link {
color:#666666;
}
#TB_window a:visited {
color:#666666;
}
#TB_window a:hover {
color:#000000;
}
#TB_window a:active {
color:#666666;
}
#TB_window a:focus {
color:#666666;
}
#TB_overlay {
background-color:#000000;
height:100%;
left:0px;
opacity:0.85;
position:fixed;
top:0px;
width:100%;
z-index:100;
}
* html #TB_overlay {
position:absolute;
}
#TB_window {
background:#FFFFFF none repeat scroll 0%;
border:4px solid #525252;
color:#000000;
display:none;
left:50%;
position:fixed;
text-align:left;
top:50%;
z-index:102;
}
* html #TB_window {
position:absolute;
}
#TB_window img#TB_Image {
border-color:#666666 rgb(204, 204, 204) rgb(204, 204, 204) rgb(102, 102, 102);
border-style:solid;
border-width:1px;
display:block;
margin:15px 0pt 0pt 15px;
}
#TB_caption {
float:left;
height:25px;
padding:7px 30px 10px 25px;
}
#TB_closeWindow {
float:right;
height:25px;
padding:11px 25px 10px 0pt;
}
#TB_closeAjaxWindow {
float:right;
margin-bottom:1px;
padding:7px 10px 5px 0pt;
text-align:right;
}
#TB_ajaxWindowTitle {
float:left;
margin-bottom:1px;
padding:7px 0pt 5px 10px;
}
#TB_title {
background-color:#E8E8E8;
height:27px;
}
#TB_ajaxContent {
clear:both;
line-height:1.4em;
overflow:auto;
padding:2px 15px 15px;
text-align:left;
}
#TB_ajaxContent.TB_modal {
padding:15px;
}
#TB_ajaxContent p {
padding:5px 0px;
}
#TB_load {
display:none;
height:13px;
left:50%;
margin:-6px 0pt 0pt -104px;
position:fixed;
top:50%;
width:208px;
z-index:103;
}
* html #TB_load {
position:absolute;
}
#TB_HideSelect {
background-color:#FFFFFF;
border:medium none;
height:100%;
left:0pt;
opacity:0;
position:fixed;
top:0pt;
width:100%;
z-index:99;
}
* html #TB_HideSelect {
position:absolute;
}
#TB_iframeContent {
border:medium none;
clear:both;
margin-bottom:-1px;
margin-top:1px;
}

/* accordian */


.toggler {
	color: #222;
	margin: 0;
	padding: 2px 5px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	font-size: 11px;
	font-weight: normal;
	font-family: 'Andale Mono', sans-serif;
}
 
.element {
 
}
 
.element p {
	margin: 0;
	padding: 4px;
}
 
.float-right {
	padding:10px 20px;
	float:right;
}
 
blockquote {
	text-style:italic;
	padding:5px 0 5px 30px;
}
ul.bfsubmenu li.bullet-info {
background:url(view/images/bullet-info.gif) no-repeat left top;
}